table{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'arial';
    width: 100%;
}

table th{
    text-align: left;
    padding: 10px;
    background: #acb3b9;
    color: azure;
}
table tr:nth-child(odd){
    background-image: #FFF;
}
table td{
    padding: 10px;
}

.link_enviar{
color: rgb(33, 207, 6);
}
.link_cancelar{
color: darkred;
}
.formulario{
    padding-left: 5%;
    padding-right: 18%;
    padding-top: 15%;  
    margin-left: 5%; 
    margin-right: 5%;  
    text-align: center;  
}